{{> error_notification }}

<form method="post" action="" enctype="application/json" class="comment-form">
    <h1>Write Your Comment</h1>
    <label for="author" class="comment-form-label">Author:</label>
    <input type="text" id="author" name="author" size="70" />

    <label for="text-input" class="comment-form-label">Write Comment:</label>
    <textarea name="body" id="text-input" cols="63" rows="10"></textarea>

    <button type="submit" class="comment-form-submit" value="Submit">Submit</button>
</form>
