{{> error_notification }}

<form class="post-form" enctype="application/json" action="" method="post">
    <h1>Write Your Idea</h1>
    <label class="post-form-label post-author-label" for="author">Author:</label><span class="post-author-prefill">{{user.username}}</span>
    <!--<input size="70" id="author" name="author" type="text" required tabindex="1">-->
    <p></p>
    <label class="post-form-label" for="title">Title:</label>
    <input size="70" id="title" name="title" value="{{post.title}}" type="text" required tabindex="2">
    <div id="preview"></div>
    <label class="post-form-label" for="text-input">Enter content:</label>
    <textarea rows="10" cols="63" id="text-input" oninput="this.editor.update()" name="body" required tabindex="3"></textarea>
    <label class="post-form-label" for="tags">Tags:</label>
    <input size="70" id="tags" name="tag" type="text" tabindex="4">
    <button value="Submit" class="post-form-submit" type="submit" tabindex="5">Submit</button>
</form>
<script src="/scripts/vendor/markdown/markdown.min.js"></script>
<script src="/scripts/clientCompileMarkdown.js"></script>