{{#notification}}
<p class="message {{severity}}">{{message}}</p>
{{/notification}}


    {{#posts}}
    <article class="post-blog-entry">
        <h1 class="post-title">{{title}}</h1>
        <h4 class="post-author">{{author}}</h4>
        <time class="post-time">{{created}}</time>
        <p class="post-body">{{body}}</p>
        <ul class="post-tag-list">
        {{#each tag}}
            <a href="" class="post-tag-anchor"><li class="post-tag">{{this}}</li></a>
        {{/each}}
        </ul>
    </article>
    {{/posts}}
