<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <title>{{title}}</title>
    </head>
    <body>
        <nav>
            <h1><a href="/"><img class="brand-logo" src="/images/quill-logo2-white.png" alt="Image of Brand Logo"></a></h1>
          <ul class="nav-list">
            <li class="nav-item"><a href="/"><span class="nav-item-detail">View Posts</span></a></li>
            <li class="nav-item"><a href="/admin/post/create"><span class="nav-item-detail">Create Post</span></a></li>
            {{#if post}}<li class="nav-item"><a href="/admin/post/{{post._id}}/edit"><span class="nav-item-detail">Edit Post</span></a></li>{{/if}}
          </ul>    
        </nav>
        
            {{{ body }}}

    <script src="/scripts/formatDate.js"></script>
    </body>
</html>