{{> error_notification }}

<form class='login-form' action='/login' method="POST">
    <h1 class='login-title'>Log In</h1>
    <label class='login-form-label' for='username'>E-mail</label>
    <input class='login-email' size="70" name='username'  tabindex="1" type='email' required>
    <label class='login-form-label' for='password'>Password</label>
    <input class='login-password' size="70" name='password'  tabindex="2" type='password'>
    <button type='submit' class='login-form-submit'>Log In</button>
</form>