/******* General Styles *********/
body {
  color: #777;

}
h1 {
  font-size: 50px;
  margin: 15px 0;
}
h2{font-size: 37px;}
h3{font-size: 28px;}
h4 {
  font-size: 21px;
  color: rgba(206, 206, 206, 1);
}
h5{font-size: 16px;}
h6{font-size: 12px;}

box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n

p {
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 1.6em;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}
/******* Base Layout Styles ****/
.nav-width {
  width: 4em;
  height: 100%;
  position:fixed;
  box-sizing: border-box;
  top:0;
  left:0;
}
.content-width{
    max-width: 56.250em;
    padding: 4.688em;
    padding-top: 2em;
    height: 100%;
    margin:10px auto;
    box-sizing: border-box;
}
/******* Layout Styles *********/
article {
  padding: 15px;
  position: relative;
}

.fa-leaf {
  display:block;
  position: absolute;
  margin-left: -30px;
}
nav {
  @extend .nav-width;
  background-color: #777;
  -moz-transition: width .5s;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  overflow-x: hidden;
}
nav:hover {
  width: 10em;
  height: 100%;
}

.nav-list {
  width: 100%;
  margin-left: -40px;;
}

.nav-item {
  height: 100%;
  list-style: none outside none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-top: 1px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  &:last-child {
    border-bottom: 1px solid white;
  }
  &:hover {
    background-color: #CECECE;
  }
}

.nav-item-detail {
  display: inline-block;
  width: 6em;
  margin-left: 64px;
  color: white;
}
.post-container {
  @extend .content-width;
}
/******* Post Styles *********/
.post-tag {
  border: 1px solid #CECECE;
  border-radius: 3px;
  padding: 3px;
  display: inline;
  background-color: #CECECE;
  color: white;
}
.post-tag-anchor {
  text-decoration: none;
}
.post-tag-list {
  margin-left: -40px;
}
.post-time {
  /*font-size: 12px;*/
}
.post-link-wrapper{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position:absolute;
}


/******* Generic Form Styles *********/
.form-label{
  display:block;
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 21px;
}
.form-submit{
  display:block;
  margin-top: 15px;
}
#text-input {
  color: #777;
  padding-top: 7px;
  padding-left: 5px;
}
input {
  color:#777;
}
/******* Create Comment Styles *********/
.comment-form {
  @extend .content-width;
}
.comment-form-label{
  @extend .form-label;
}
.comment-form-submit{
  @extend .form-submit;
}
.comment-form h1{
  margin: 15px 0px 40px;
  font-weight: 100;
}
/******* Create Post Styles *********/
.post-form-label {
  @extend .form-label;
}
.post-form {
  @extend .content-width;
}
.post-form h1{
  margin: 15px 0px 40px;
  font-weight: 100;
}
.post-form-submit {
  @extend .form-submit;
}
#preview {
  width: 30.75em;
  background-color:rgb(240, 240, 240);
  padding-left: 5px;
  margin-top: 15px;
}
/********* Error Messages ************/
.message {
  text-align: center;
}