/******* General Styles *********/
body {
  color: #777;

}
h1 {
  font-size: 50px;
  margin: 15px 0;
}
h2{font-size: 37px;}
h3{font-size: 28px;}
h4 {
  font-size: 21px;
  color: rgba(206, 206, 206, 1);
}
h5{font-size: 16px;}
h6{font-size: 12px;}

box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n

p {
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 1.6em;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}
/******* Base Layout Styles ****/
$nav-width {
  width: 4em;
  height: 100%;
  position:fixed;
  box-sizing: border-box;
  top:0;
  left:0;
}
$content-width{
    max-width: 56.250em;
    padding: 4.688em;
    padding-top: 2em;
    height: 100%;
    margin:10px auto;
    box-sizing: border-box;
}
/******* Layout Styles *********/

article {
  padding: 15px;
  position: relative;
}

.fa-leaf {
  display:block;
  position: absolute;
  margin-left: -30px;
}
nav {
  @extend $nav-width;
  background-color: #777;
  -moz-transition: width .5s;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  overflow-x: hidden;
}


.nav-list {
  width: 100%;
  margin-left: -40px;;
}

.nav-item {
  height: 100%;
  list-style: none outside none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-top: 1px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  &:last-child {
    border-bottom: 1px solid white;
  }
  &:hover {
    background-color: #CECECE;
  }
}

.nav-item-detail {
  display: inline-block;
  width: 6em;
  margin-left: 64px;
  color: white;
}
.post-container {
  @extend $content-width;
  width: 780px;
}
nav,
.post-container{
  transition: all 0.5s, ease 0s;
}
.search-wrapper{
  border-top: 1px solid #FFF;
}
.post-search-container{
  margin-left: 10px;
  margin-top: 20px;
}
.fa {
  color:#fff;
  position: absolute;
  margin-left: 1.45em;
}
.fa-search{
  color:#fff;
  margin-left:.75em;
  position:relative;
}
.post-search{
  display:inline-block;
}
.search-input {
  display:inline-block;
  width: 75px;
  height: 0;
  transform:translateX(5em);
  overflow:hidden;
  -webkit-transition:width .5s, height .5s, transform .5s;
  transition:width .5s, height .5s, transform .5s;
}
.hidden{
  display: none;
}
/******* Post Styles *********/
.post-author-link{
  text-decoration: none;
  color: #CECECE;
}
.post-tag {
  border: 1px solid #CECECE;
  border-radius: 3px;
  padding: 3px;
  display: inline;
  background-color: #CECECE;
  color: white;
}
.post-tag-anchor {
  text-decoration: none;
}
.post-tag-list {
  margin-left: -40px;
}
.post-time {
  /*font-size: 12px;*/
}
.post-link-wrapper{
 /* width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  position:absolute; */
}


/******* Generic Form Styles *********/
.form-label{
  display:block;
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: 21px;
}
.form-submit{
  display: inline-block;
  margin-top: 15px;
}
.post-remove-button {
  display: inline-block;
  margin-top: 15px;
}
#text-input {
  color: #777;
  padding-top: 7px;
  padding-left: 5px;
}
input {
  color:#777;
  display: block;
  height:15px;
}
/******* Create Comment Styles *********/
.edit-post-comments-container{
  @extend $content-width;
  max-width: 600px;
}
.comment-form {
  @extend $content-width;
}
.comment-form-label{
  @extend .form-label;
}
.comment-form-submit{
  @extend .form-submit;
  display:block;
}
.comment-form h1{
  margin: 15px 0px 40px;
  font-weight: 100;
}
.post-comment-body{
  font-size: 16px;
}
.post-comment-create-link{
  color: #777;
  margin-left: 15px;
  &:hover{
    color:#CECECE;
  }
}
/******* Create Post Styles *********/
.post-form-label {
  @extend .form-label;
}
.post-author-label{
  display: inline-block;
  margin-top:0px;
}
.post-author-prefill{
  font-size: 21px;
  margin-left:7px;
  font-weight: bold;
}
.post-form {
  @extend $content-width;
  max-width: 600px;
}
.post-form h1{
  margin: 15px 0px 40px;
  font-weight: 100;
}
.post-form-submit {
  @extend .form-submit;
}
#preview {
  width: 30.75em;
  background-color:rgb(240, 240, 240);
  padding-left: 5px;
  margin-top: 15px;
}
/*********** Login Styles ************/
.login-title{
  margin: 15px 0px 40px;
  font-weight: 100;
}
.login-form{
  @extend $content-width;
  width: 600px;
}
.login-form-label{
  @extend .form-label;
  font-weight: 100;
}
.login-form-submit{
   @extend .form-submit;
}
/******* Registration Styles *********/
.registration-title{
  margin: 15px 0px 40px;
  font-weight: 100;
}
.registration-form{
  @extend $content-width;
  width: 600px;
}
.registration-form-label{
  @extend .form-label;
   font-weight: 100;
}
.registration-password:first-child{
  margin-bottom: 10px;
}
.registration-form-submit{
  @extend .form-submit;
}
/********* Error Messages ************/
.message {
  margin-top:2em;
  text-align: center;
}
/********* Media Queries *************/
@media (min-width: 926px){
    nav:hover {
      width: 10em;
      height: 100%;
      .search-input{
        width:130px;
        height:15px;
        transform:translateX(0);
        }
      .fa-search{
        display:none;
      }
    }
    nav:hover + .post-container {
      transform: translate(5em, 0);
    }
}
.expanded{
  nav{
    width:10em;
    height:100%;
  }
  .search-input{
    width:130px;
    height:15px;
    transform:translateX(0);
  }
  .fa-search{
    display:none;
  }
  nav:hover + .post-container {
    transform: translate(5em, 0);
  }
}
/*@media (max-width: 925px){
    nav{
      width: 100%;
      bottom: 0px;
      top: unset;
      z-index: 25;
      transition: none 0s ease 0s;
      height: 20%;
    }
    nav h1{
      display: inline-block;
      width: 10%;
      position: absolute;
      padding-left: 34px;
      margin: 0px auto;
      padding-top: 20px;
    }
    .nav-item-detail{
      display:none;
    }
    .nav-list{
      display: inline-block;
      width: 100%;
      margin-left: 125px;
      padding: 0px;
    }
    /*.nav-item{
      display: inline-block;
      width: 29%;
      border-left: 1px solid rgb(255, 255, 255);
      padding-top: 25px;
      padding-bottom: 25px;
      border-top:none;
      
    }*/
    /*
    .nav-item:last-child {
      border-bottom: none;
  }
}
*/