<!Doctype html>
<head>
    <title>Add Comment</title>
</head>
<body>
    <form method="get" action="" enctype="application/json" class="pst-form">
        <label for="author">Author: </label>
            <input type="text" id="author" name="author" size="70"/>
        
        <label for="body">Write Comment: </label>
        <div id="epiceditor"></div>
        <textarea name="body" id="body" cols="70" rows="10"></textarea>
        
        <input type="submit" value="Submit"/>
    </form>
    
    <script src="/scripts/vendor/EpicEditor/js/epiceditor.min.js"></script>
    <script>
        var editor = new EpicEditor({
            basePath: '/scripts/vendor/EpicEditor/',
            theme: {
                base: "themes/base/epiceditor.css",
                preview: 'themes/preview/bartik.css',
                editor: 'themes/editor/epic-light.css'
            }
        }).load();
        var form = document.querySelector('.post-form');
        var body = document.querySelector('textarea[name="body"]');
        body.classList.add('hidden');
    
        form.addEventListener('submit', function(evt) {
            body.value = "";
            body.value = editor.getElement('previewer').getElementById('epiceditor-preview').innerHTML;
            evt.preventDefault();
            //return false;
        });
    </script>
</body>
</html>